.navbar {
  background-color: rgb(33, 37, 41) !important;
}

.NavbarToggler {
  background-color: transparent;
  border: none;
}

.NavbarToggler svg {
  stroke-width: 2; /* Set the stroke width of the SVG lines */
  stroke: #ffffff; /* Set the color of the lines */
}

.navbar-nav .nav-link {
  color: #ffffff94 !important; /* Default text color */
  text-transform: uppercase;
  position: relative;
  text-decoration: none;
}
.navbar-nav .nav-link.active {
  color: #e31b6d !important;
}

.navbar-nav .nav-link:hover {
  color: #e31b6d !important; /* Color for hover state */
}

.navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -2px; /* Adjust based on your preference */
  height: 2px; /* Underline height */
  width: 0;
  background-color: #e31b6d; /* Underline color */
  transition: width 0.6s ease-in-out; /* Transition for width */
}

.navbar-nav .nav-link:hover::before {
  width: 35%; /* Full width on hover */
}

/* Media query for small screens */
@media (max-width: 576px) {
  /* Adjust the breakpoint as needed */
  .navbar-nav .nav-link::before {
    left: 0; /* Move the underline to start from the edge on small screens */
  }

  .navbar-nav .nav-link:hover::before {
    width: 5%; /* Adjust the width on hover for small screens */
  }
}
